---
import Hero from "../components/Hero.astro";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Test Hero</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body>
    <Hero />
  </body>
</html>